hmtl {
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  font-family: Clavo, serif;
  font-style: italic;
}

h3 {
  font-size: 2em;
  font-family: Clavo, serif;
}

h4 {
  font-size: 1.5em;
  font-family: Clavo, serif;
}

h5 {
  font-size: 1em;
}

p {
  font-size: 1em;
  font-family: Clavo, sans-serif;
}

img {
  display: block;
}

body {
  max-width: 100%;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.container {
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}


.abovefold {
  background-image: url("jay-hughes-family.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  /*max-width: 100%;*/
  text-align: center;
  display: flex;
  justify-content: center;
}


.behindlogo {
  background-color: rgba(255, 255, 255, .65);
  position: absolute;
  bottom: 0;
}

.behindlogo > img {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}




.sit {
  align-items: center;
}

.imagine {
  background-color: #1B1D2F;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: .95rem;
}


.imagine span {
  font-size: 2em;
  text-transform: uppercase;
  font-family: Atrament, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.imagine span.rest {
}


.headline {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 1.15rem;
}

.headline > hr {
  width: 25%;
  margin: 0 1rem;
  color: #D0021B;
  border: 1px solid #D0021B;
}

.headline > h3 {
  width: auto;
  font-style: italic;
  color: #293171;
}

.headline.connect {
  margin-top: 1rem;
}

.headline.connect > h4 {
  width: auto;
  font-style: italic;
  color: #293171;
  margin: 0;
}

.bio {
  text-align: center;
  padding: 1rem 2rem;
}

.support {
  background-color: #1B1D2F;
  background-image: url("star-bg.svg");
  background-size: cover;
  height: 140px;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.support-btn {
  background: #ED312D;
  background: radial-gradient(#ef5854, #C1272E);
  padding: .75rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: Atrament, sans-serif;
  font-size: 32px;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0 0 0 2px #C1272E;
}


#path-1 {
  width: 100%;
}

.join {
  text-align: center;
}

footer.footer {
  font-size: .75rem;
  margin-top: .75rem;
  background-color: #1B1D2F;
  color: #fff;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

footer.footer > p {
  font-family: arial, sans-serif;

}
